* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
  
  p a {
    display: inline-flex;
  }
  
  li {
    list-style: none;
  }
  
  h1, h2, h3, h4, h5, h6, strong {
    font-size: inherit;
    font-weight: inherit;
  }
  
  img {
    width: 100%;
    display: block;
    object-fit: cover;
  }
  
  form, input, label, textarea, option, select {
    font-size: inherit;
    font-family: inherit;
    background: transparent;
    color: inherit;
  }
  
  body {
    font-size: 100%;
    color: var(--negro);
    background-color: var(--blanco);
    font-family: var(--tipo-principal);
  }